.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.RaMenuItemLink-active {
  background-color: #e0e0e0 !important;
  color: #333333 !important;
}

.MuiDrawer-paper {
  background-color: #ffffff !important;
}

.css-c1bgk0-RaLogin-root .RaLogin-card {
  margin-top: 10em !important;
  /* 例如改成10em */
}

.RaLogin-root {
  display: flex;
  align-items: center;
  /* 垂直居中 */
  justify-content: center;
  /* 水平居中 */
  height: 100vh;
  /* 视口高度 */
}